body {
    font-family: 'Nanum Gothic', Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(40% + 20px);
}

h1 {
    font-family: 'Nanum Gothic';
    font-size: 32px;
    margin-bottom: 0px;
    color: #333;
}

button {
    font-family: 'Nanum Gothic';
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.trend-image {
    max-width: 90%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
}

.results {
    margin-top: 20px;
    font-size: 18px;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item .item-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    flex: 1;
    margin-right: 15px;
}

.result-item .item-details {
    flex: 2;
    text-align: left;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}